type bcmstb_app, domain;
app_domain(bcmstb_app)
net_domain(bcmstb_app)
bluetooth_domain(bcmstb_app)

create_pty(bcmstb_app)

allow bcmstb_app shell_data_file:file r_file_perms;
allow bcmstb_app shell_data_file:dir r_dir_perms;

allow bcmstb_app anr_data_file:file r_file_perms;

allow bcmstb_app mtp_device:chr_file rw_file_perms;
allow bcmstb_app media_rw_data_file:dir create_dir_perms;
allow bcmstb_app media_rw_data_file:file create_file_perms;
allow bcmstb_app cache_file:dir create_dir_perms;
allow bcmstb_app cache_file:file create_file_perms;
allow bcmstb_app nxserver:binder call;
allow bcmstb_app nxserver:unix_stream_socket connectto;
allow bcmstb_app nexus_data_file:dir { search read };
allow bcmstb_app nexus_data_file:file { read open getattr };
allow bcmstb_app hwcbinder:binder { transfer call };
allow bcmstb_app nxserver_socket:sock_file write;
allow bcmstb_app readonlyfs:file { read open getattr };
allow bcmstb_app readonlyfs:dir search;
allow bcmstb_app media_data_file:dir create_dir_perms;
allow bcmstb_app media_data_file:file create_file_perms;
allow bcmstb_app system_server_service:service_manager add;
allow bcmstb_app textservices_service:service_manager find;
allow bcmstb_app input_service:service_manager find;
allow bcmstb_app content_service:service_manager find;

allow bcmstb_app nexus_service:service_manager find;
allow bcmstb_app activity_service:service_manager find;
allow bcmstb_app connectivity_service:service_manager find;
allow bcmstb_app display_service:service_manager find;
allow bcmstb_app network_management_service:service_manager find;
allow bcmstb_app accessibility_service:service_manager find;
allow bcmstb_app surfaceflinger_service:service_manager find;
allow bcmstb_app assetatlas_service:service_manager find;
allow bcmstb_app graphicsstats_service:service_manager find;
allow bcmstb_app input_method_service:service_manager find;
allow bcmstb_app audio_service:service_manager find;
allow bcmstb_app tv_input_service:service_manager find;
allow bcmstb_app textservices_service:service_manager find;
allow bcmstb_app input_service:service_manager find;
allow bcmstb_app content_service:service_manager find;

neverallow bcmstb_app domain:netlink_kobject_uevent_socket *;
neverallow bcmstb_app domain:netlink_socket *;
neverallow bcmstb_app debugfs:file read;
