type bcmstb_app, domain;
app_domain(bcmstb_app)
net_domain(bcmstb_app)
bluetooth_domain(bcmstb_app)

allow bcmstb_app app_data_file:file { rx_file_perms execmod };

allow bcmstb_app asec_apk_file:file r_file_perms;
allow bcmstb_app asec_public_file:file { execute execmod };

create_pty(bcmstb_app)

allow bcmstb_app shell_data_file:file r_file_perms;
allow bcmstb_app shell_data_file:dir r_dir_perms;

allow bcmstb_app anr_data_file:file r_file_perms;

allow bcmstb_app mtp_device:chr_file rw_file_perms;
allow bcmstb_app media_rw_data_file:dir create_dir_perms;
allow bcmstb_app media_rw_data_file:file create_file_perms;
allow bcmstb_app cache_file:dir create_dir_perms;
allow bcmstb_app cache_file:file create_file_perms;
allow bcmstb_app device:sock_file write;
allow bcmstb_app init_shell:unix_stream_socket connectto;
allow bcmstb_app nxserver:binder call;
allow bcmstb_app nxserver:unix_stream_socket connectto;
allow bcmstb_app nexus_data_file:dir { search read };
allow bcmstb_app nexus_data_file:file { read open getattr };
allow bcmstb_app hwcbinder:binder { transfer call };
allow bcmstb_app nxserver_socket:sock_file write;
allow bcmstb_app readonlyfs:file { read open getattr };
allow bcmstb_app readonlyfs:dir search;
allow bcmstb_app media_data_file:dir create_dir_perms;
allow bcmstb_app media_data_file:file create_file_perms;
allow bcmstb_app system_server_service:service_manager add;

neverallow bcmstb_app domain:netlink_kobject_uevent_socket *;
neverallow bcmstb_app domain:netlink_socket *;
neverallow bcmstb_app debugfs:file read;

allow bcmstb_app { apk_tmp_file apk_private_tmp_file }:dir r_dir_perms;
allow bcmstb_app { apk_tmp_file apk_private_tmp_file }:file r_file_perms;
