allow bootanim device:sock_file write;
allow bootanim init_shell:unix_stream_socket connectto;

allow bootanim nxserver:binder call;
allow bootanim nxserver:unix_stream_socket connectto;

allow bootanim nexus_data_file:dir { search read };
allow bootanim nexus_data_file:file { read open getattr };
