allow drmserver nxserver:unix_stream_socket connectto;
allow drmserver nxserver:binder call;
allow drmserver device:sock_file write;
allow drmserver gpu_device:chr_file rw_file_perms;
allow drmserver nexus_data_file:dir { search read };
allow drmserver nexus_data_file:file { open create read write setattr getattr };
allow drmserver readonlyfs:dir r_dir_perms;
allow drmserver readonlyfs:file r_file_perms;
allow drmserver self:netlink_kobject_uevent_socket { create bind read };
allow drmserver nxserver_socket:sock_file write;
