type bluetooth_control, dev_type;
type sw_sync_device, dev_type;
type nexus_data_file, file_type, data_file_type;
type readonlyfs, fs_type;
type nxserver_socket, file_type, mlstrustedobject;
type nexus_debug_file, file_type, data_file_type;
type nexus_log_file, file_type;
