type hfrvideo, domain;
type hfrvideo_exec, exec_type, file_type;

# started by init
init_daemon_domain(hfrvideo)

# Set scheduling info for key services.
allow hfrvideo self:capability { sys_nice };
allow hfrvideo surfaceflinger:process { getsched setsched };
allow hfrvideo nxserver:process { getsched setsched };
allow hfrvideo mediaserver:process { getsched setsched };
allow hfrvideo hwcbinder:process { getsched setsched };
allow hfrvideo untrusted_app:process { getsched setsched };

# Read /proc/pid data for all domains.
r_dir_file(hfrvideo, domain)

dontaudit hfrvideo platform_app:dir search;
dontaudit hfrvideo untrusted_app:dir search;

get_prop(hfrvideo, nexus_prop);
