allow init self:capability {
    sys_module
};


allow init node:tcp_socket node_bind;
allow init node:udp_socket node_bind;
allow init port:tcp_socket name_bind;
allow init port:udp_socket name_bind;
allow init self:tcp_socket { bind create setopt listen };
allow init self:udp_socket { bind setopt };
allow init tmpfs:lnk_file create_file_perms;
allow init cache_file:dir mounton;
allow init storage_file:dir mounton;

