allow mediacodec graphics_device:dir search;
allow mediacodec hwcbinder:binder { transfer call };
allow mediacodec nxserver:unix_stream_socket connectto;
allow mediacodec nxserver:binder call;
allow mediacodec nxserver_socket:sock_file write;
allow mediacodec nexus_data_file:dir { search read };
allow mediacodec nexus_data_file:file { read open getattr };
allow mediacodec readonlyfs:file { read open getattr };
allow mediacodec readonlyfs:dir search;
allow mediacodec self:netlink_kobject_uevent_socket { create bind read };
allow mediacodec nexus_debug_file:dir { search read write add_name remove_name };
allow mediacodec nexus_debug_file:file { open create read write setattr getattr };
allow mediacodec nexus_service:service_manager find;

set_prop(mediacodec, nexus_prop);
