allow mediadrmserver nxserver:unix_stream_socket connectto;
allow mediadrmserver nxserver:binder call;
allow mediadrmserver gpu_device:chr_file rw_file_perms;
allow mediadrmserver nexus_data_file:dir { search read };
allow mediadrmserver nexus_data_file:file { open create read write setattr getattr };
allow mediadrmserver readonlyfs:dir r_dir_perms;
allow mediadrmserver readonlyfs:file r_file_perms;
allow mediadrmserver self:netlink_kobject_uevent_socket { create bind read };
allow mediadrmserver nxserver_socket:sock_file write;
allow mediadrmserver nexus_service:service_manager find;
allow mediadrmserver nexus_debug_file:dir { search read };
allow mediadrmserver nexus_debug_file:file { open create read write setattr getattr };
allow mediadrmserver tmpfs:dir search;
allow mediadrmserver tmpfs:lnk_file read;
