allow mediaserver graphics_device:dir search;
allow mediaserver hwcbinder:binder { transfer call };
allow mediaserver nxserver:unix_stream_socket connectto;
allow mediaserver nxserver:binder call;
allow mediaserver nxserver_socket:sock_file write;
allow mediaserver nexus_data_file:dir { search read };
allow mediaserver nexus_data_file:file { read open getattr };
allow mediaserver readonlyfs:file { read open getattr };
allow mediaserver readonlyfs:dir search;
allow mediaserver self:netlink_kobject_uevent_socket { create bind read };
allow mediaserver nexus_debug_file:dir { search read write add_name remove_name };
allow mediaserver nexus_debug_file:file { open create read write setattr getattr };
allow mediaserver nexus_service:service_manager find;
allow mediaserver nexus_prop:property_service set;

