type nxdispfmt, domain;
type nxdispfmt_exec, exec_type, file_type;

# started by init
init_daemon_domain(nxdispfmt)

allow nxdispfmt nexus_data_file:dir { search read };
allow nxdispfmt nexus_data_file:file { read open getattr };

allow nxdispfmt nxserver_socket:sock_file write;
allow nxdispfmt nxserver:unix_stream_socket connectto;
allow nxdispfmt gpu_device:chr_file rw_file_perms;
allow nxdispfmt property_socket:sock_file write;
allow nxdispfmt init:unix_stream_socket connectto;

set_prop(nxdispfmt, nexus_prop);
