type nxmini, domain, mlstrustedsubject;
type nxmini_exec, exec_type, file_type;

# started by init
init_daemon_domain(nxmini)
wakelock_use(nxmini)

allow nxmini block_device:dir { write add_name };
allow nxmini block_device:file { write create open };
allow nxmini cache_file:dir mounton;
allow nxmini device:chr_file { ioctl };
allow nxmini kernel:system module_request;
allow nxmini gpu_device:chr_file rw_file_perms;
allow nxmini self:capability dac_override;
allow nxmini proc:file write;
allow nxmini self:netlink_kobject_uevent_socket { create bind read };
allow nxmini property_socket:sock_file write;
allow nxmini init:unix_stream_socket connectto;
allow nxmini system_prop:property_service set;



