allow platform_app device:sock_file write;
allow platform_app init_shell:unix_stream_socket connectto;
allow platform_app nxserver:binder call;
allow platform_app nxserver:unix_stream_socket connectto;
allow platform_app nexus_data_file:dir { search read };
allow platform_app nexus_data_file:file { read open getattr };
