type pmlibservice, domain;
type pmlibservice_exec, exec_type, file_type;

allow pmlibservice self:capability net_raw;
allow pmlibservice self:udp_socket create;
allow pmlibservice self:udp_socket ioctl;
allow pmlibservice servicemanager:binder call;
allow pmlibservice servicemanager:binder transfer;

# started by init
init_daemon_domain(pmlibservice)

allow pmlibservice kernel:system module_request;
allow pmlibservice self:capability { net_admin sys_module };
allow pmlibservice default_android_service:service_manager add;

allow pmlibservice dumpstate:fd use;
allow pmlibservice dumpstate:unix_stream_socket { read write };
