allow priv_app nexus_service:service_manager find;
allow priv_app nxserver_socket:sock_file write;
allow priv_app nxserver:binder call;
allow priv_app nxserver:unix_stream_socket connectto;

get_prop(priv_app, nexus_prop);
