allow recovery block_device:dir write;
allow recovery cache_file:dir mounton;
allow recovery vfat:dir { read search open };
allow recovery vfat:file { read getattr open };
allow recovery nxserver_socket:sock_file write;
allow recovery gpu_device:chr_file rw_file_perms;

