allow surfaceflinger nexus_prop:property_service set;

allow surfaceflinger device:sock_file write;
allow surfaceflinger hwcbinder:binder { transfer call };
allow surfaceflinger nxserver:binder call;
allow surfaceflinger nxserver:unix_stream_socket connectto;
allow surfaceflinger nexus_data_file:dir { search read };
allow surfaceflinger nexus_data_file:file { read open getattr };
allow surfaceflinger sw_sync_device:chr_file { open ioctl read write };
allow surfaceflinger nxserver_socket:sock_file write;
