service dhcpcd_eth0 /system/bin/dhcpcd -dABKL
   class main
   group dhcp
   disabled
   oneshot

service netcoal /system/bin/netcoal eth0
   class late_start
   oneshot
   disabled

on property:dyn.nx.netcoal.set=*
   start netcoal

