import /init.recovery.blockdev.rc
import /init.recovery.nx.${ro.nx.boot.mode}.rc

on early-init
    export LD_LIBRARY_PATH /system/lib
    export SAGEBIN_PATH /system/bin
    export NEXUS_DEVICE_NODE /dev/mali

service nxmini /sbin/nxmini
    oneshot

on property:hw.nexus.platforminit=on
    insmod /system/lib/bcmnexusfb.ko
